<h1>Simple Sever information Search</h1>

<p>This is a an example made with Angular and .Net Core 3 for data from an IP and server name.</p>
<p *ngIf="!providersData"><em>Loading...</em></p>
<form [formGroup]="form" (ngSubmit)="submit(form.value)">
   <div class="custom-control">
     
   </div>
      <label for="server">Domain Name or IP</label> &nbsp;
     <input type="text" formControlName="server" class="form-control-input" id="server" ngModel>

  <p>List of available providers</p>

  <div>
  <label formArrayName="providers" *ngFor="let provider of form.controls.providers.controls; let i = index" >
    <input type="checkbox" [formControlName]="i" >
    {{providersData[i].name}}
  </label>
  </div>

<button type="submit" class="btn btn-primary">Request Information</button>

</form>
