@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This is just a sample code. But it will help to give an idea that I'm able to create a develop a proyect with Asp .Net Core</p>
Notes:<br />
<br />
- No unit testing implemted.<br />
- Seed data not included yet.<br />
- Subscriptions is not completed yet.<br />
<br />