@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Ahmed Somarribas<br />
    San Jose, Costa Rica<br />
    <abbr title="Phone">P:</abbr>
    87-29-23-56
</address>

<address>
    <strong>Support:</strong> <a href="mailto:ahmed@busquemoscasa.com">Support@example.com</a><br />
</address>
